.login-heading{
  color: lightseagreen;
}

.login-card{
    border-radius: 20px;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);
    cursor: pointer;
}
.login-card:hover{
  transform: scale(1.05);
}
.button-regular{
    background-color:lightseagreen ;
   
}