.service-part{
    border: 1px solid lightgreen;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    cursor:poiner;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  
}
.service-part:hover{
    transform: scale(1.09);
}

.service-part img{
    width :100%;
   height: 300px;
   border-radius: 20px;
}